<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>    
  <connectionStrings>
    <add name="CompaniesDbContext" connectionString ="data source=eissa01; Initial Catalog=DataImporter; Integrated Security=SSPI; User Id=ahmed.eissa;Password=AhGh807909*;"  providerName ="System.Data.SqlClient"/>
    <add name="FeedDbContext" connectionString ="data source=eissa01; Initial Catalog=DataImporter; Integrated Security=SSPI; User Id=ahmed.eissa;Password=AhGh807909*;"  providerName ="System.Data.SqlClient"/>
    <add name="ProductDbContext" connectionString ="data source=eissa01; Initial Catalog=DataImporter; Integrated Security=SSPI; User Id=ahmed.eissa;Password=AhGh807909*;"  providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>