<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CompaniesDbContext" connectionString =""  providerName ="System.Data.SqlClient"/>
    <add name="FeedDbContext" connectionString ="" providerName ="System.Data.SqlClient"/>
    <add name="ProductDbContext" connectionString ="" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>